/* start Global Rules */
:root {
    --c-active: #f51659;
    --c-active-inner: #FFFFFF;
    --c-default: #D2D6E9;
    --c-default-dark: #C7CBDF;
    --c-black: #1B1B22;
    --c-lightblue: #03e9f4;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    opacity: 90%;
    background: linear-gradient(#141e30,#243b55)
}


/* End Global Rules */
.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 400px;       /* to enable (from top to trasform) i canceled .shadow-pop-br properities */
    padding: 40px;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

/* @media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        margin: 10px;
    }

} */

/* h2 */
h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #3a6494;
    text-align: center;
}

.allUser,
.allPassword {
    position: relative;
}
/* Input */
#username,
#password {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
/* Label */
.allUser label,
.allPassword label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color:#3a6494;
    pointer-events: none;
    transition: 0.5s;
}
.allUser #username:focus ~ label,
.allUser #username:valid ~ label {
    top: -20px;
    left: 0px;
    color: var(--c-lightblue);
    font-size: 12px;
}
/* a */
.container form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--c-lightblue);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.container form a:hover {
    background: var(--c-lightblue);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--c-lightblue),
        0 0 25px var(--c-lightblue),
        0 0 50px var(--c-lightblue),
        0 0 100px var(--c-lightblue);
}
/* Span */
.container a span {
    position: absolute;
    display: block;
}
.container a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,var(--c-lightblue));
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}
.container a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,var(--c-lightblue));
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}
.container a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,var(--c-lightblue));
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}
.container a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,var(--c-lightblue));
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}
/* old thoughts */
/* h2 */
/* h2 {
    font-size: 3em;
    margin: 0.67em 125px;
} */
/* Login box */
/* .shadow-pop-br {
    margin: 10% 40%;
    width: 370px;
    height: 380px;
    background-color: var(--c-blacklight);
    border: 2px solid var(--c-bluelight);
    transition: all 0.3s ease-in-out;
} */
/* Label */
/* label {
    font-size: 1.5em;
    margin-left: 15px;
} */
/* label:hover {
    cursor: pointer;
    color: var(--c-active-inner);
} */
/* User Name */
/* #username {
    margin: 5px 25px;
    padding-right: 35px;
    padding-bottom: 5px;
} */
/* #username:hover {
    background-color: var(--c-blacklight);
} */
/* .allUser label:hover {
    background-color: var(--c-blacklight);
    margin-top: 10px;
} */
/* Password */
/* #password {
    margin: 5px 25px;
    padding-right: 35px;
    padding-bottom: 5px;
} */
/* Submit */
/* #submit {
    margin: 30px 0px 0px 230px;
    padding: 5px;
    border: 2px solid; 
    border-color: var(--c-bluelight); 
    transition: all 0.3s ease-in-out;
    /* font-weight: bolder; 
    font-size: larger;
} */

/* #submit:hover {
    border-color: var(--c-bluelight);
    cursor: pointer;
} */